body {
    margin: auto;
    padding: 0;
    width: 1440px;
    font-family: sans-serif;
    font-weight: 700;
    background: hsl(0, 0%, 100%);
}

.bg-img {
    /* The image used */
    background-image: url("../Sunnyside-agency-landing-page/images/desktop/image-header.jpg");
    min-height: 1000px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    text-align: center;
}

.bg-img h1 {
    font-family: "Barlow-Regular";
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    font-size: 90px;
    margin: 0;
    padding-top: 15%;
}

.bg-img svg {
    margin-top: 9rem;
}


/* Position the navbar container inside the image */

.menu {
    position: absolute;
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
}

.top ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.top ul li {
    color: hsl(0, 0%, 100%);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.top ul li:hover {
    color: black;
    background: hsl(0, 0%, 100%);
    border-radius: 25px;
    cursor: pointer;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.column img {
    width: 100%;
    height: 100%;
}

.column div {
    margin: 25% auto auto auto;
    width: 58%;
}

.column div h2 {
    font-family: "Barlow-Regular";
    color: hsl(212, 27%, 19%);
    font-size: 50px;
}

.cerise,
.orange {
    flex: 50%;
    position: relative;
}

.text-img1,
.text-img2 {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60%;
    color: hsl(143, 15%, 37%);
    width: 47%;
}

h3 {
    font-size: 30px;
}

p {
    font-weight: 100;
}

.personne {
    text-align: center;
    margin: 10% 0 10% 0;
}

.personne h2 {
    font-family: "Barlow-Regular";
    color: hsl(232, 10%, 55%);
    letter-spacing: 0.4rem;
}

.presentation {
    display: flex;
    margin: 3% 0 0 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.presentation p:last-of-type {
    color: hsl(232, 10%, 55%);
    font-weight: 100;
}

.profil {
    text-align: center;
    width: 25%;
}

.profil img {
    width: 20%;
    border-radius: 50%;
}

.row-img {
    display: flex;
}

.row-img img {
    max-width: 25%;
}

footer {
    color: hsl(167, 33%, 23%);
    height: 20rem;
    text-align: center;
    background: hsl(168, 37%, 55%);
}

.lien {
    padding-top: 5%;
}

.lien ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.lien ul li {
    padding: 1rem 2rem 3rem 2rem;
}

.contact img {
    padding: 1rem 1rem 3rem 1rem;
}